body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* 自添加
-----------------------------------------------------------*/

.wrapper {
    width:700px;
    border:solid 0px green;
    word-wrap: break-word; 
    word-break: break-all;
    min-height:480px;
    font-size:12px;
}

.query {
    width:100%;
    border: solid 0px red;
    margin-top:20px;
}


table {
    font-size:12px;
    width: 700px; 
    border-collapse: collapse;
}


td,th {
    white-space: nowrap; 
    border: 0px solid #666; 
    padding: 3px 4px;
}

th {
    background-color:	#64C1DE;
}


.tleft {
    text-align:right;
}


.ctable {
    margin-top:10px;
}

.ctable table {
    width:auto;
}

.ctable td, th {
    white-space: nowrap; 
    border: 0px solid #666; 
    padding: 3px 4px;
}
