@{
    ViewBag.Title = "ClickNode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/zTreeStyle/zTreeStyle.css" rel="stylesheet" />

<style type="text/css">
    ul.log li.dark {background-color: #E3E3E3;}
</style>

<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>
<div>
    <p>日志</p>
    <ul id="log" class="log"></ul>
</div>

@section scripts
{
    <script src="~/Scripts/zTree_v3/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript">
        var setting = {
            data: {
                key: {
                    title: "t"
                },
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeClick: beforeClick,
                onClick: onClick
            }
        };

        var zNodes = [
			{ id: 1, pId: 0, name: "普通的父节点", t: "我很普通，随便点我吧", open: true },
			{ id: 11, pId: 1, name: "叶子节点 - 1", t: "我很普通，随便点我吧" },
			{ id: 12, pId: 1, name: "叶子节点 - 2", t: "我很普通，随便点我吧" },
			{ id: 13, pId: 1, name: "叶子节点 - 3", t: "我很普通，随便点我吧" },
			{ id: 2, pId: 0, name: "NB的父节点", t: "点我可以，但是不能点我的子节点，有本事点一个你试试看？", open: true },
			{ id: 21, pId: 2, name: "叶子节点2 - 1", t: "你哪个单位的？敢随便点我？小心点儿..", click: false },
			{ id: 22, pId: 2, name: "叶子节点2 - 2", t: "我有老爸罩着呢，点击我的小心点儿..", click: false },
			{ id: 23, pId: 2, name: "叶子节点2 - 3", t: "好歹我也是个领导，别普通群众就来点击我..", click: false },
			{ id: 3, pId: 0, name: "郁闷的父节点", t: "别点我，我好害怕...我的子节点随便点吧...", open: true, click: false },
			{ id: 31, pId: 3, name: "叶子节点3 - 1", t: "唉，随便点我吧" },
			{ id: 32, pId: 3, name: "叶子节点3 - 2", t: "唉，随便点我吧" },
			{ id: 33, pId: 3, name: "叶子节点3 - 3", t: "唉，随便点我吧" }
        ];

        var log, className = "dark";
        //点击前回调
        function beforeClick(treeId, treeNode, clickFlag) {
            className = (className === "dark" ? "" : "dark");
            showLog("[ " + getTime() + " beforeClick ]&nbsp;&nbsp;" + treeNode.name);
            return (treeNode.click != false);
        }

        //点击回调
        function onClick(event, treeId, treeNode, clickFlag) {
            showLog("[ " + getTime() + " onClick ]&nbsp;&nbsp;clickFlag = " + clickFlag + " (" + (clickFlag === 1 ? "普通选中" : (clickFlag === 0 ? "<b>取消选中</b>" : "<b>追加选中</b>")) + ")");
        }

        //显示日志
        function showLog(str) {
            if (!log) log = $("#log");
            log.append("<li class='" + className + "'>" + str + "</li>");
            if (log.children("li").length > 8) {
                log.get(0).removeChild(log.children("li")[0]);
            }
        }
        function getTime() {
            var now = new Date(),
			h = now.getHours(),
			m = now.getMinutes(),
			s = now.getSeconds();
            return (h + ":" + m + ":" + s);
        }

        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
    </script>
}
