@{
    ViewBag.Title = "NoCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/zTreeStyle/zTreeStyle.css" rel="stylesheet" />

<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>

@section scripts
{
    <script src="~/Scripts/zTree_v3/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/zTree_v3/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript">
        var setting = {
            check: {
                enable: true,
                nocheckInherit: true //父类的nocheck遗传给子类
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        var zNodes = [
			{ id: 1, pId: 0, name: "随意勾选 1", open: true },
			{ id: 11, pId: 1, name: "随意勾选 1-1", open: true },
			{ id: 111, pId: 11, name: "无 checkbox 1-1-1", nocheck: true },
			{ id: 112, pId: 11, name: "随意勾选 1-1-2" },
			{ id: 12, pId: 1, name: "无 checkbox 1-2", nocheck: true, open: true },
			{ id: 121, pId: 12, name: "无 checkbox 1-2-1" },
			{ id: 122, pId: 12, name: "无 checkbox 1-2-2" },
			{ id: 2, pId: 0, name: "随意勾选 2", checked: true, open: true },
			{ id: 21, pId: 2, name: "随意勾选 2-1" },
			{ id: 22, pId: 2, name: "随意勾选 2-2", open: true },
			{ id: 221, pId: 22, name: "随意勾选 2-2-1", checked: true },
			{ id: 222, pId: 22, name: "随意勾选 2-2-2" },
			{ id: 23, pId: 2, name: "随意勾选 2-3" }
        ];

        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
    </script>
}

